{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            DogOrCat - Home
        </title>
        <link type="text/css" rel="stylesheet" href="{% static 'base-styling.css' %}">

        <link type="text/css" rel="stylesheet" href="{% static 'home-styling.css' %}">
        <link type="text/css" rel="stylesheet" media="only screen and (max-width: 1000px)" href="{% static 'mobile/home-styling.css' %}">
        
        <link type="text/css" rel="stylesheet" href="{% static 'navbar.css' %}">
        <link type="text/css" rel="stylesheet" media="only screen and (max-width: 1000px)" href="{% static 'mobile/navbar.css' %}">
    </head>
    {% if user.is_authenticated %}
    <body>
        
        {% include 'logo.html' %}

        {% include 'navbar.html' %}
        
        <div class="about-wrapper">
            <div class="about-window">
                <div class="close-button-area">
                    <div onclick="closeAbout()">&times</div>
                </div>
                <div class="about-content">
                    <h1>About Dog Or Cat:</h1>
                    <p>
                        Welcome to <b><i>"Dog Or Cat"</i></b>. This is a guessing game that you have to distinguish wether in a blured image is depicted a Dog or a Cat.
                    </p><br>
                    <h2> - Single Player</h2>
                    <p>
                        You have 3 lives in total and you lose one each time you make a wrong guess. For each correct answer you get 100 points. 
                        The goal is to get as many points as you can to reach the top of the leaderboard.
                    </p>    
                </div>
            </div>
        </div>

        <!-- <img src="{% static 'resources/bone.png"> -->

        <div class="menu">
            <div class="selections">
                <a href="{% url 'app' %}">
                    <div class="menu-button">
                        Single Player
                        <div class="selection-logos">
                            <img src="{% static 'resources/white-paw.png' %}">
                        </div>
                    </div> 
                </a>
                <br>
                <a href="{% url 'leaderboard' %}">
                    <div class="menu-button">
                        Leaderboard
                        <div class="selection-logos">
                            <img src="{% static 'resources/trophie.png' %}">
                        </div>
                    </div>
                </a>
                <br>
                <div class="menu-button" onclick="aboutOnClick()">
                    About
                    <div class="selection-logos">
                        <img src="{% static 'resources/about.png' %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="sneak-image sneak-dog">
            <img src="{% static 'resources/dog-sneak.png' %}">
        </div>
        <div class="sneak-image sneak-cat">
            <img src="{% static 'resources/cat-sneak.png' %}">
        </div>

        <script src="{% static 'js/show_about.js' %}"></script>
    </body>

    {% else %}
        <div class="about-wrapper" style="display: flex">
            <div class="about-window">
                <div class="not-logged-wrapper">
                    <img src="{% static 'resources/caution.png' %}">
                    <span>You are not currently logged in</span>
                    <a href="{% url 'login' %}">Log in</a>
                </div>
                <div class="about-content">
                    <h1>About Dog Or Cat:</h1>
                    <p>
                        Welcome to <b><i>"Dog Or Cat"</i></b>. This is a guessing game that you have to distinguish wether in a blured image is depicted a Dog or a Cat.
                    </p>
                    <h2> - Single Player</h2>
                    <p>
                        You have 3 lives in total and you lose one each time you make a wrong guess. For each correct answer you get 100 points. 
                        The goal is to get as many points as you can to reach the top of the leaderboard.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
</html>