:root {
    --background: #fafafa;
    --login-container-background: rgba(255,255,255, 0.6);
    --form-border-radius: 6px;
    --border-rgba: rgba(0, 0, 0, 0.5);
    --logo-main-blue-color: #270949;
    --logo-secondary-blue-color: #4654a3;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--background);
    /* background-image: url(../resources/bone.png); */
    background-repeat: no-repeat;
    background-position: 50% 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.game-plat {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.score-wrapper {
    font-size: 1.8rem;
    font-style: italic;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.loading-screen > div {
    background-color: var(--background);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 55%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-img-container {
    position: relative;
    width: 100%;
    height: 15rem;
}

.loading-screen img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 15rem;
}

.end-of-game-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11;
}

.end-of-game-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 55%;
}

.game-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-result span:not(#final-score) {
    font-size: 2rem;
    font-weight: bold;
}

#final-score {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--logo-main-blue-color);
}

.game-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.game-choices button{
    position: relative;
    font-size: 1.1rem;
    padding: 10px 100px;
    background-color: var(--background);
    color: var(--logo-main-blue-color);
    font-weight: bolder;
    border: 7px solid var(--logo-secondary-blue-color);
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.game-choices button:hover {
    background-color: var(--logo-main-blue-color);
    color: white;
}



.cat-face-image {
    opacity: 0;

    animation: show-cat-face 4s linear 2s infinite;
}

.loading-screen span {
    display: inline-block;
    font-size: 2rem;

    /* animation: jumping-letter 3s ease-out infinite; */
    animation-name: jumping-letter;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.first-letter {
    animation-delay: 0s;
}

.second-letter {
    animation-delay: 0.3s;
}

.third-letter {
    animation-delay: 0.6s;
}

.fourth-letter {
    animation-delay: 0.9s;
}

.fifth-letter {
    animation-delay: 1.2s;
}

.sixth-letter {
    animation-delay: 1.5s;
}

.seventh-letter {
    animation-delay: 1.8s;
}

.eighth-letter {
    animation-delay: 2.1s;
}

.ninth-letter {
    animation-delay: 2.4s;
}

.tenth-letter {
    animation-delay: 2.7s;
}

.logo {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 12rem;
    transform: translate(0%, 0%);
    left: 10px;
    top: 10px;
    background-image: url(../static/resources/LOGO.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    /* background-color: var(--background); */

    animation: logo-zoom-out 1.5s ease-out 0.5s  forwards;
    z-index: 2;
}

.answer-message {
    position: absolute;
    top: 50%;
    width: 100vw;
    font-size: 2.5rem;
    text-align: center;
    padding: 3px 0;
    display: none;
}

.correct-message {
    background-color: rgba(0, 255, 100, 0.8);
    transform: translateX(-100%);
    /* animation-direction: alternate; */
}

.wrong-message {
    background-color: rgba(255, 0, 100, 0.8);
    transform: translateX(100%);
}

.show-message {
    display: initial;
    animation: show-message 1.5s linear both;
}


.image-wrapper {
    text-align: center;
}

.question-image {
    height: 60vh;
    max-height: 80vh;
}

.dog-button, .cat-button {
    position: relative;
    border: 1px solid var(--border-rgba);
    border-radius: 10px;

    cursor: pointer;
    padding: 15px 30px;

    font-size: 2.8rem;
    color: white;
    overflow: hidden;

    transition-duration: 0.5s;
}

.dog-button {
    background-color: var(--logo-main-blue-color);
}

.cat-button {
    background-color: var(--logo-secondary-blue-color);
}

.paw-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);

    opacity: 0;
}

.paw-hover img{
    height: 60%;
}

.dog-button:hover .paw-hover, .cat-button:hover .paw-hover {
    opacity: 1;
    transition-duration: 0.5s;
}

@keyframes show-cat-face {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

@keyframes jumping-letter {
    7% {
        transform: translateY(-100%);
        color: var(--logo-secondary-blue-color);
    }
    15%, 100% {
        transform: translate(0);
    }
}

@keyframes show-message {
    10%, 70% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-100%);
    }

}