body {
    background-image: url(../static/resources/bone.png);
    background-size: 28%;
}

.logo {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 90vh;
    background-image: url(../static/resources/LOGO.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    cursor: pointer;
    /* background-color: var(--background); */

    animation: logo-zoom-out 1.5s ease-out 0.5s  forwards;
    z-index: 2;
}

nav {
    transform: translate(0%, -200%);
    animation: navbar-reveal 1s ease-out 1.5s forwards;
}

.about-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.about-window {
    background-color: var(--background);
    padding: 10px;
}

.close-button-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-weight: bolder;
    color: white;
}

.close-button-area div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: red;
    padding: 5px 8px;
}

.about-content {
    overflow-y: scroll;
    width: 50em;
    margin: 50px;
    height: 25em;
    padding: 0 15px;
}

.not-logged-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.not-logged-wrapper img {
    height: 2rem;
}

.not-logged-wrapper span {
    margin-left: 3em;  
}

.not-logged-wrapper a {
    display: block;
    text-decoration: none;
    margin-left: 3em;
    background-color: var(--logo-main-blue-color);
    color: white;
    padding: 10px 20px;
}

.not-logged-wrapper a:hover {
    background-color: var(--logo-secondary-blue-color);
}

::-webkit-scrollbar {
    width: 7px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--logo-secondary-blue-color); 
    border-radius: 20px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--logo-main-blue-color); 
}

.menu {
    position: relative;
    margin-bottom: 2%;
}

.selections {
    width: 0%;
    overflow: hidden;
    animation: selections-reveal 2s ease-out 1.5s forwards;
}

.menu-button  {
    position: relative;
    font-size: 2rem;
    padding: 10px 100px;
    background-color: var(--background);
    color: var(--logo-main-blue-color);
    font-weight: bolder;
    border: 7px solid var(--logo-secondary-blue-color);
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.selections a {
    text-decoration: inherit;
    color: inherit;
}

.selection-logos {
    display: inline;
    position: absolute;
    right: 30px; 
    visibility: hidden;
}

.selection-logos img {
    height: 1.3rem;
}

.menu-button:hover {
    background-color: var(--logo-main-blue-color);
    color: white;
}

.menu-button:hover .selection-logos {
    visibility: visible;
}

.sneak-image {
    position: absolute;
    bottom: 0;
    transform: translate(0%, 100%);
    pointer-events: none;
    height: 40vh;
    z-index: -1;

    animation: sneak-pet 30s ease-in-out infinite;
}

.sneak-dog {
    left: 20%;
    animation-delay: 16s;
}

.sneak-cat {
    left: 80%;
    animation-delay: 5s;
}

.sneak-image img {
    height: 100%;
}


@keyframes logo-zoom-out {
    100% {
        width: 8rem;
        height: 9rem;
        transform: translate(0%, 0%);
        left: 5px;
        top: 5px;
    }
}

@keyframes selections-reveal {
    100% {
        width: 100%;
    }
}

@keyframes navbar-reveal {
    100% {
        transform: translate(0,0);
    }
}

@keyframes sneak-pet {
    5%,10% {
        transform: translateY(50%);
    }
    15%, 100% {
        transform: translateY(100%);
    }
}