nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

nav a {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    border-bottom: 4px solid var(--logo-main-blue-color);
    color: var(--logo-main-blue-color);
    padding: 10px 20px;
    margin-left: 10px;
    transition-duration: 0.3s;

    cursor: pointer;
}

nav a:hover {
    padding-bottom: 9px;
    color: var(--logo-secondary-blue-color);
    border-bottom-color: var(--logo-secondary-blue-color);
    transition-duration: 0.3s;
}

.active {
    color: var(--logo-main-blue-color);
    border-bottom: 4px solid var(--logo-main-blue-color);
}
