nav {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

nav a {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    border-bottom: 4px solid var(--logo-main-blue-color);
    color: var(--logo-main-blue-color);
    padding: 10px 20px;
    margin-left: 10px;
    transition-duration: 0.3s;

    cursor: pointer;
}

nav a:hover {
    padding-bottom: 9px;
    color: var(--logo-secondary-blue-color);
    border-bottom-color: var(--logo-secondary-blue-color);
    transition-duration: 0.3s;
}

.active {
    color: var(--logo-main-blue-color);
    border-bottom: 4px solid var(--logo-main-blue-color);
}

.rolling-ball {
    height: 80%;
    position: absolute;
    left: -10%;
    z-index: -1;

    animation: roll-ball 50s linear infinite;
}

.rolling-ball:first-child {
    animation-delay: 25s;
}

.rolling-ball:nth-child(2) {
    animation-delay: 5s;
}

@keyframes roll-ball {
    10%,100% {
        left: 100%;

        transform: rotateZ(calc(8*360deg));
    }
}