{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            DogOrCat - Create Account
        </title>
        <link type="text/css" rel="stylesheet" href="{% static 'signup-styling.css' %}">
        <link type="text/css" rel="stylesheet" media="only screen and (max-width: 1000px)" href="{% static 'mobile/signup-styling.css' %}">
    </head>
    <body>
        <div class="login-form-container">
            <div class="logo"></div><br><br>
            <form method="POST" class="login">
                {% csrf_token %}
                <div class="input-field-wrapper">
                    <label class="username-label">Username</label> <br>
                    <input type="text" name="username" placeholder="Username" id="id_username" required>
                </div>
                <div class="input-field-wrapper">
                    <label class="username-label">Email</label> <br>
                    <input type="text" name="email" placeholder="Email" id="id_email" required>
                </div>
                <div class="input-field-wrapper">
                    <label>Password</label> <br>
                    <input type="password" name="password1" placeholder="Password" id="id_password1" required>
                </div>
                <div class="input-field-wrapper">
                    <label class="username-label">Repeat Password</label> <br>
                    <input type="password" name="password2" placeholder="Repeat Password" id="id_password2" required>
                </div><br>
                <button type="submit">Sign up</button>
            </form>
            <br>
                    
            <div class="create-account">
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </body>
</html>