body {
    background-size: 80%;
    background-position-y: 20%;
    /* justify-content: center; */
}

.logo {
    height: 70vh;
}

.about-window {
    max-width: 100vw;
}

.about-content {
    font-size: 2rem;
    width: 23em;
    height: 35em;
}

.close-button-area div {
    font-size: 4rem;
    padding: 5px 12px;
}

.not-logged-wrapper img {
    height: 3.8rem;
}

.not-logged-wrapper span {
    font-size: 2em;  
}

.not-logged-wrapper a {
    font-size: 2.5rem;
    padding: 10px 20px;
}

.menu {
    position: relative;
    margin-bottom: 50%;
}

.selections {
    width: 0%;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    animation: selections-reveal 2s ease-out 1.5s forwards;
    /* background: var(--background); */
}

.menu-button {
    font-size: 5rem;
}

.selection-logos img {
    height: 2.5rem;
}

.sneak-image {
    position: absolute;
    bottom: 0;
    transform: translate(0%, 100%);
    pointer-events: none;
    height: 20vh;
    z-index: -1;
    /* display: none; */

    animation: sneak-pet 30s ease-in-out infinite;
}

.sneak-dog {
    left: 20%;
    animation-delay: 16s;
}

.sneak-cat {
    left: 60%;
    animation-delay: 5s;
}

.sneak-image img {
    height: 100%;
}